*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  color: white;
}

body{
  background-color: rgb(25, 25, 25);
}

#navLink {
  text-transform: "capitalize" !important;
}

p {
  color: rgb(213, 213, 213);
}

h2 {
  font-size: 35px;
}

#b1{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/img/banner1.jpg') center center no-repeat;
  background-size: cover;
}
#b2{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/img/banner2.jpg') center center no-repeat;
  background-size: cover;
}
#b3{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/img/banner3.jpg') center center no-repeat;
  background-size: cover;
}
#b4{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/img/banner4.jpg') center center no-repeat;
  background-size: cover;
}
#b5{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/img/banner5.jpg') center center no-repeat;
  background-size: cover;
}

h1 {
  font-size: 60px;
}